@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
.comment__content, .field--type-taxonomy-term-reference .field__items, .pager, .site-branding {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
  .comment__content:before, .field--type-taxonomy-term-reference .field__items:before, .pager:before, .site-branding:before, .comment__content:after, .field--type-taxonomy-term-reference .field__items:after, .pager:after, .site-branding:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .comment__content:after, .field--type-taxonomy-term-reference .field__items:after, .pager:after, .site-branding:after {
    clear: both; }

.comment__content:after, .field--type-taxonomy-term-reference .field__items:after, .pager:after, .site-branding:after {
  content: "";
  display: table;
  clear: both; }

/**
 * $ARROW
 */
/**
 * $HLIST
 */
.block--system-user-menu .menu, .block--nav-bar .menu, .action-links, .breadcrumb {
  margin: 0;
  padding: 0;
  border: 0; }
  .block--system-user-menu .menu:after, .block--nav-bar .menu:after, .action-links:after, .breadcrumb:after {
    content: "";
    display: table;
    clear: both; }
  .block--system-user-menu .menu li, .block--nav-bar .menu li, .action-links li, .breadcrumb li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left; }

/**
 * $ISLAND
 */
.comment__content {
  display: block;
  margin-bottom: 1.42857em; }
  .comment__content > :last-child, .comment__content > :last-child {
    margin-bottom: 0; }

.comment__content {
  padding: 18px 1em; }

/**
 * $FORM-ITEM
 */
.form-item {
  color: #6a7076; }
  .form-item label {
    margin-bottom: 0.4em; }
  .form-item .form-select,
  .form-item .form-text,
  .form-item .form-textarea {
    width: 100%;
    padding: 0.6em;
    background-color: #FFF;
    border: 1px solid #dddddd;
    color: #6a7076;
    vertical-align: middle; }
  .form-item .description {
    margin-top: 0.2em;
    font-style: italic; }

.container-inline .form-select,
.container-inline .form-text,
.container-inline .form-textarea {
  width: auto; }

select:focus,
input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  outline: 1px solid #ec9160; }

/**
 * $PASSWORD-INDICATOR
 */
.password-indicator {
  height: 0.8em;
  background: none;
  border: 1px solid #dddddd; }
  .password-indicator .indicator {
    background: #efa47b; }

.password-strength-title {
  margin-bottom: 0.2em; }

/**
 * $FIELDSETS
 */
.form-wrapper {
  margin-bottom: 18px; }

fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 9px 1em 18px 1em;
  border-color: #dddddd; }

legend {
  font-size: 18px;
  font-size: 1.28571rem;
  padding: 0 0.8em;
  color: #6a7076; }

.fieldset-description {
  margin-bottom: 9px;
  color: #6a7076;
  font-style: italic; }

.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 18px 1em; }

img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

/**
 * $TABLES
 */
table {
  width: 100%;
  margin-bottom: 18px; }

th {
  padding: 0.5em 1em;
  background-color: #077dc3;
  color: #FFF; }
  th a,
  th a.active {
    color: #FFF; }
    th a img,
    th a.active img {
      margin: 2px 3px; }

td {
  padding: 0.5em 1em; }

tr.odd {
  background: #e7f1f5; }

tr.even {
  background: #f6fafb; }

/**
 * $FONT-FACE
 */
/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #222222; }
  html * html {
    font-size: 87.5%; }
  html html {
    font-size: 14px;
    line-height: 1.42857em; }

/**
 * $LINKS
 */
a {
  color: #e4621c; }
  a:visited {
    color: #e4621c; }
  a:focus {
    color: black; }
  a:hover {
    color: black; }
  a:active {
    color: #efa47b; }

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma, .site-branding__name,
h4, .delta, caption,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #464a4e;
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a,
  .beta a:visited,
  h3 a,
  h3 a:visited, .gamma a, .site-branding__name a,
  .gamma a:visited,
  .site-branding__name a:visited,
  h4 a,
  h4 a:visited, .delta a, caption a,
  .delta a:visited,
  caption a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a,
  .zeta a:visited {
    color: inherit;
    text-decoration: none; }
  h1 a:hover, .alpha a:hover,
  h2 a:hover, .beta a:hover,
  h3 a:hover, .gamma a:hover, .site-branding__name a:hover,
  h4 a:hover, .delta a:hover, caption a:hover,
  h5 a:hover, .epsilon a:hover,
  h6 a:hover, .zeta a:hover {
    color: #064771; }

h1, .alpha {
  font-size: 55px;
  font-size: 3.92857rem;
  font-weight: 700; }

h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700;
  color: #077dc3; }

h3, .gamma, .site-branding__name {
  font-size: 21px;
  font-size: 1.5rem; }

h4, .delta, caption {
  font-size: 18px;
  font-size: 1.28571rem; }

h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: 700; }

h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem;
  color: #077dc3; }

/**
 * $PARAGRAPHS
 */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em; }

p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0 1.5em;
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.35714em;
  border-left-style: solid;
  border-left-width: 0.71429em;
  padding-left: 0.71429em;
  font-style: italic;
  color: #064771; }
  blockquote p {
    margin: 0; }

q {
  font-style: italic; }

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;
  background: #52b1ea;
  color: #FFF;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

/**
 * $FIELDSETS
 */
.form-wrapper {
  margin-bottom: 18px; }

fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 9px 1em 18px 1em;
  border-color: #dddddd; }

legend {
  font-size: 18px;
  font-size: 1.28571rem;
  padding: 0 0.8em;
  color: #6a7076; }

.fieldset-description {
  margin-bottom: 9px;
  color: #6a7076;
  font-style: italic; }

.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 18px 1em; }

/**
 * $FORM-ITEM
 */
.form-item {
  color: #6a7076; }
  .form-item label {
    margin-bottom: 0.4em; }
  .form-item .form-select,
  .form-item .form-text,
  .form-item .form-textarea {
    width: 100%;
    padding: 0.6em;
    background-color: #FFF;
    border: 1px solid #dddddd;
    color: #6a7076;
    vertical-align: middle; }
  .form-item .description {
    margin-top: 0.2em;
    font-style: italic; }

.container-inline .form-select,
.container-inline .form-text,
.container-inline .form-textarea {
  width: auto; }

select:focus,
input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  outline: 1px solid #ec9160; }

/**
 * $PASSWORD-INDICATOR
 */
.password-indicator {
  height: 0.8em;
  background: none;
  border: 1px solid #dddddd; }
  .password-indicator .indicator {
    background: #efa47b; }

.password-strength-title {
  margin-bottom: 0.2em; }

/* No files to import found in partials/layouts/**\/* */
/**
 * $USER-MENU
 */
.block--system-user-menu a {
  padding: 0 0.6em;
  border-right: 1px solid #e4621c; }
.block--system-user-menu li:first-child a {
  padding-left: 0; }
.block--system-user-menu li:last-child a {
  padding-right: 0;
  border-right: 0; }

/**
 * $NAV-BAR
 */
.block--nav-bar a {
  display: block;
  padding: 1.2em 1em;
  font-size: 16px;
  font-size: 1.14286rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF; }
  .block--nav-bar a:hover, .block--nav-bar a:focus {
    color: #064771; }
@media (min-width: 600px) {
  .block--nav-bar a {
    font-size: 18px;
    font-size: 1.28571rem;
    border-left: 1px solid #FFF; }
  .block--nav-bar li:last-child a {
    border-right: 1px solid #FFF; } }

/**
 * $COMMENT-WRAPPER
 */
.comment-wrapper {
  padding: 18px 1em;
  background-color: #d9e9ef; }

/**
 * $COMMENT
 */
.comment__info {
  margin-top: 18px;
  margin-bottom: 18px; }
  .comment__info .username {
    margin-bottom: 9px;
    color: #52b1ea;
    text-transform: uppercase;
    text-decoration: none; }
    .comment__info .username:hover {
      text-decoration: underline; }

.comment__content {
  background-color: #FFF; }

.comment__submitted {
  display: inline; }

@media (min-width: 44em) {
  .comment__info {
    float: left;
    width: 25%;
    text-align: center; }
    .comment__info .user-picture {
      width: 70%;
      margin: 0 auto 9px auto; }
    .comment__info .username {
      display: block; }

  .comment__content {
    float: right;
    width: 70%;
    margin-left: 5%;
    position: relative;
    background: white; }
    .comment__content:after, .comment__content:before {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .comment__content:after {
      border-color: transparent;
      border-right-color: white;
      border-width: 20px;
      top: 50%;
      margin-left: -20px; }
    .comment__content:after {
      top: 20px; }

  .comment__submitted {
    display: block;
    margin-bottom: 9px; } }
/**
 * $FIELD-TAXONOMY-TERM
 */
.field--type-taxonomy-term-reference .field__item {
  float: left;
  margin-right: 0.5em; }

/**
 * $FIELD
 */
.field {
  margin-bottom: 1.42857em; }

/**
 * $COLLAPSIBLE
 */
html.js fieldset.collapsible {
  padding: 0;
  border: none; }
  html.js fieldset.collapsible legend {
    width: 100%;
    padding: 0; }
  html.js fieldset.collapsible .fieldset-legend {
    padding: 0;
    background: none; }
    html.js fieldset.collapsible .fieldset-legend .summary {
      float: right; }
  html.js fieldset.collapsible .fieldset-title {
    display: block;
    padding: 1em;
    background-color: #dddddd;
    color: #077dc3;
    text-decoration: none; }
    html.js fieldset.collapsible .fieldset-title:hover {
      background-color: #d9e9ef;
      color: #064771; }
  html.js fieldset.collapsible .fieldset-wrapper {
    padding: 18px 1em;
    border: 1px solid #dddddd; }

html.js fieldset.collapsed {
  height: 3.7em; }

/**
 * $FILTER-TIPS
 */
.filter-wrapper {
  background-color: #FFF; }

/**
 * $PASSWORD-CONFIRM
 */
div.password-indicator,
div.password-confirm {
  margin-top: 0; }

div.password-indicator {
  margin-bottom: 0.4em; }

/**
 * $SEARCH-FORM
 */
.search-block-form .form-text {
  width: auto;
  padding: 0.4em; }

/**
 * $ACTION-LINKS
 */
.action-links {
  margin-bottom: 18px; }
  .action-links li {
    padding-left: 16px;
    background: transparent url('../images/../images/plus-blue.png?1376837883') left center no-repeat; }
    .action-links li a {
      color: #077dc3;
      text-decoration: none; }
      .action-links li a:hover {
        font-weight: 700; }

/**
 * $BREADCRUMB
 */
.breadcrumb li {
  padding-right: 0.4em; }
  .breadcrumb li:after {
    content: "»";
    padding-left: 0.4em;
    vertical-align: baseline; }
  .breadcrumb li:last-child:after {
    content: ""; }
.breadcrumb a {
  text-decoration: none; }

/**
 * $BORDER-LIST
 */
.border-list {
  padding: 0;
  list-style: none; }
  .border-list li {
    padding-bottom: 1.42857em;
    margin-bottom: 1.42857em;
    border-bottom: 1px solid #dddddd; }
    .border-list li:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none; }

/**
 * $BUTTONS
 */
/* Base Button */
.button {
  display: inline-block;
  height: 2.2em;
  margin: 0;
  padding: 0 1.2em;
  background-color: #222222;
  border: none;
  color: #FFF;
  font-weight: 700;
  font-family: inherit;
  font-size: 100%;
  line-height: 2.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer; }
  .button, .button:hover, .button:active, .button:focus, .button:visited {
    text-decoration: none; }
  .button:hover {
    background-color: #6a7076; }
  .button:active, .button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset; }
  .button::-moz-focus-inner {
    border: 0;
    padding: 0; }

/* Fill width of container */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center; }

/* Inherit sizing from parent  */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em; }

/* Button Functions */
.button--primary {
  background-color: #e4621c; }

.button--secondary {
  background-color: transparent;
  border-color: #52b1ea;
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.35714em;
  color: #52b1ea; }
  .button--secondary:hover {
    border-color: #6a7076;
    background-color: transparent;
    color: #6a7076; }

.button--positive {
  background-color: #4a993e; }
  .button--positive:hover {
    background-color: #38752f; }

.button--negative {
  background-color: #b33630; }
  .button--negative:hover {
    background-color: #8b2a25; }

.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color: #ddd;
  color: #777;
  cursor: default;
  box-shadow: none; }

/* Adjacent buttons should have some space between them. */
.button + .button,
.button + a {
  margin-left: 1em; }

/**
 * $MESSAGES
 */
.messages {
  padding-left: 10px;
  margin-bottom: 18px; }

.messages--status {
  color: #077dc3;
  background: #ccebfd;
  border-color: #38b0f8; }

.messages--warning {
  color: #d6c460;
  background: white;
  border-color: #ebe2b1; }

.messages--error {
  color: #b33630;
  background: #f9eae9;
  border-color: #d97570; }

/**
 * $PAGER
 */
.pager__item {
  display: block;
  float: left;
  margin: 0.1em;
  padding: 0; }

.pager__item a,
.pager__item--current,
.pager__item--ellipsis {
  display: block;
  padding: 0.5em 0.8em;
  border: 1px solid #6a7076;
  color: #6a7076;
  text-decoration: none; }

.pager__item a:hover {
  background-color: #e4621c;
  border-color: #e4621c;
  color: #FFF; }

.pager__item--current {
  border-color: #e4621c;
  color: #e4621c; }

.pager__item--ellipsis {
  border: none; }

/**
 * $PROGRESS
 */
.progress .bar {
  background-color: #dddddd;
  border-color: #6a7076;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
.progress .filled {
  background: #077dc3; }

/**
 * $SECTION-TITLE
 */
.section-title {
  padding-bottom: 0.71429em;
  margin-bottom: 1.42857em;
  border-bottom: 1px solid #bcd8e3; }

/**
 * $SITE-BRANDING
 */
.site-branding {
  padding: 1em 0; }

.site-branding__name,
.site-branding__logo {
  display: block;
  float: left; }

.site-branding__logo {
  width: 50px;
  margin-right: 1em; }

.site-branding__name {
  color: #FFF;
  text-decoration: none; }
  .site-branding__name:visited {
    color: #FFF; }
  .site-branding__name:hover {
    color: #064771; }

/**
 * $NODE-BASIC-PAGE
 */
.node--article .field--name-field-image {
  float: left;
  margin: 0 2em 1em 0; }

/**
 * $NODE
 */
.node--teaser {
  margin-bottom: 18px; }

.node__links {
  margin-bottom: 18px; }
