/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/**
 * $ARROW
 */
/**
 * $HLIST
 */
/**
 * $ISLAND
 */
body {
  background: transparent url('../../../images/diagonal.png?1376837883') left top repeat; }

.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 95%;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(20%, rgba(210, 105, 30, 0.5)), color-stop(20%, rgba(210, 105, 30, 0.25)), color-stop(26.66667%, rgba(210, 105, 30, 0.25)), color-stop(26.66667%, rgba(210, 105, 30, 0.5)), color-stop(46.66667%, rgba(210, 105, 30, 0.5)), color-stop(46.66667%, rgba(210, 105, 30, 0.25)), color-stop(53.33333%, rgba(210, 105, 30, 0.25)), color-stop(53.33333%, rgba(210, 105, 30, 0.5)), color-stop(73.33333%, rgba(210, 105, 30, 0.5)), color-stop(73.33333%, rgba(210, 105, 30, 0.25)), color-stop(80%, rgba(210, 105, 30, 0.25)), color-stop(80%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 20%, rgba(210, 105, 30, 0.25) 20%, rgba(210, 105, 30, 0.25) 26.66667%, rgba(210, 105, 30, 0.5) 26.66667%, rgba(210, 105, 30, 0.5) 46.66667%, rgba(210, 105, 30, 0.25) 46.66667%, rgba(210, 105, 30, 0.25) 53.33333%, rgba(210, 105, 30, 0.5) 53.33333%, rgba(210, 105, 30, 0.5) 73.33333%, rgba(210, 105, 30, 0.25) 73.33333%, rgba(210, 105, 30, 0.25) 80%, rgba(210, 105, 30, 0.5) 80%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 20%, rgba(210, 105, 30, 0.25) 20%, rgba(210, 105, 30, 0.25) 26.66667%, rgba(210, 105, 30, 0.5) 26.66667%, rgba(210, 105, 30, 0.5) 46.66667%, rgba(210, 105, 30, 0.25) 46.66667%, rgba(210, 105, 30, 0.25) 53.33333%, rgba(210, 105, 30, 0.5) 53.33333%, rgba(210, 105, 30, 0.5) 73.33333%, rgba(210, 105, 30, 0.25) 73.33333%, rgba(210, 105, 30, 0.25) 80%, rgba(210, 105, 30, 0.5) 80%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 20%, rgba(210, 105, 30, 0.25) 20%, rgba(210, 105, 30, 0.25) 26.66667%, rgba(210, 105, 30, 0.5) 26.66667%, rgba(210, 105, 30, 0.5) 46.66667%, rgba(210, 105, 30, 0.25) 46.66667%, rgba(210, 105, 30, 0.25) 53.33333%, rgba(210, 105, 30, 0.5) 53.33333%, rgba(210, 105, 30, 0.5) 73.33333%, rgba(210, 105, 30, 0.25) 73.33333%, rgba(210, 105, 30, 0.25) 80%, rgba(210, 105, 30, 0.5) 80%, rgba(210, 105, 30, 0.5) 100%);
  background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 20%, rgba(210, 105, 30, 0.25) 20%, rgba(210, 105, 30, 0.25) 26.66667%, rgba(210, 105, 30, 0.5) 26.66667%, rgba(210, 105, 30, 0.5) 46.66667%, rgba(210, 105, 30, 0.25) 46.66667%, rgba(210, 105, 30, 0.25) 53.33333%, rgba(210, 105, 30, 0.5) 53.33333%, rgba(210, 105, 30, 0.5) 73.33333%, rgba(210, 105, 30, 0.25) 73.33333%, rgba(210, 105, 30, 0.25) 80%, rgba(210, 105, 30, 0.5) 80%, rgba(210, 105, 30, 0.5) 100%);
  *zoom: 1; }
  .l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
.l-header {
  background-color: #52b1ea; }

.l-region--header {
  padding: 18px 0; }
  .l-region--header .block {
    float: right; }

/* Content Area */
.l-highlighted-wrapper {
  padding: 18px 0;
  background: #FFF; }

.l-region--help {
  margin-bottom: 18px; }

.l-main {
  margin-top: 36px;
  margin-bottom: 36px; }

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
  background-color: #FFF;
  padding: 18px 1em; }

/* Footer */
.l-footer-wrapper {
  padding: 18px 0;
  background: #FFF; }

.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 90%; }

/* Header */
.l-branding {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

.l-region--navigation {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 25.53191%;
  clear: none; }

.l-region--header {
  width: 23.40426%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* Sidebars */
.two-sidebars .l-content,
.one-sidebar .l-content {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
.two-sidebars .l-region--sidebar-first,
.two-sidebars .l-region--sidebar-second,
.one-sidebar .l-region--sidebar-first,
.one-sidebar .l-region--sidebar-second {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }

.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 80%; }

/* Sidebars */
.one-sidebar .l-content {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
.one-sidebar .l-region--sidebar-first {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: none; }

.two-sidebars .l-content {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
.two-sidebars .l-region--sidebar-first,
.two-sidebars .l-region--sidebar-second {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 51.06383%;
  clear: none;
  clear: none; }
.two-sidebars .l-region--sidebar-second {
  width: 23.40426%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
